/* ! navbar */
nav ul.navbar-nav li {
  margin-bottom: 10px;
}










/* ! home section */
section.home .text h1 {
  font-size: 30px !important;
}
section.home .text span {
  font-size: 20px !important;
}
@keyframes typing-1 {
  0%,
  100%,
  33.33% {
    width: 0;
  }
  16.66%,
  25% {
    width: calc(10 * 11px);
  }
}
@keyframes typing-2 {
  0%,
  100%,
  33.33%,
  66.66% {
    width: 0;
  }
  49%,
  60% {
    width: calc(11 * 11px);
  }
}
@keyframes typing-3 {
  0%,
  66.66%,
  100% {
    width: 0;
  }
  83.3%,
  90% {
    width: calc(13 * 11px);
  }
}

/* ! contact section */

section.contact form button {
  border-radius: 5px !important;
}